:root {
    --width: 1500px;
    --p_width: calc(50% - var(--width)/2);
}

body {
    background-color: rgb(17, 241, 241);
    margin:0;
    height: 700px;
}

/* HEADER SELECTORS */

.l_header_section {
    float: left;
    width: 680px;
    height: 50px;
}

.r_header_section {
    float: right;
    width: 400px;
    margin-top: 5px;
    height: 50px;
}

header {
    background-color: white;
    width: var(--width);
    height: 60px;
    margin-left: var(--p_width);
}

.logo {
    height: 60px;
    width: 160px;
    margin-left: 20px;
    display:inline-block;
}

.site-name {
    float:right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    margin-right: 3px;
    color: black;
}

.search_bar {
    float: right;
    background-color: lightgray;
    height: 50px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
}

.src_btn {
    float: right;
    margin-right: 15px;
    margin-top : 7.5px;
}

div.search_bar > input {
    float: left;
    margin-left: 7.5px;
    margin-top : 10px;
    font-size: 24px;
    width: 320px;
    border: none;
    background-color: lightgray;
}

.notifications {
    float: left;
    margin-top: 5px;
}

a + a {
    margin-left: 5px;
}

.user_menu {
    float:right;
    width: 280px;
    margin-right: 25px;
}

.user {
    float: left;
}

.exp_menu {
    float: right;
    width: 45px;
    margin-top: 2.5px;
}

.flipH {
    transform: scaleY(-1);
}

.user_info{
    float: right;
}

div.user_info > p {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
}

div.user_info > p:first-child {
    font-weight: bold;
}

body > div {;
    margin: 0;
    margin-left: var(--p_width);
    margin-right: var(--p_width);
}
/* aside selectors */

.aside {
    background-color: chocolate;
    width: 280px;
    height: 950px;
    margin: 0;
    display: inline-block;
}

.aside_st {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border: solid 1px lightgrey;
}

.panel{
    width: 240px;
    height: 80px;
}

.panel_img{
    width: 60px; 
    border-radius: 30px; 
    margin-left: 4px;
    float:left;
}

.panel_text{
    width: 60px; 
    border-radius: 30px;
    margin-left: 20px;
    background-color: white;
}

.exp_panel{
    background-color: white;
}

.menu{
    width: 240px;
    height: 550px;
}

.paid_plan{
    width: 240px;
    height: 220px;
}

/* main section selectors */

.main_section {
    background-color: green;
    width: 1216px;
    height: 950px;
    margin: 0;
    float: right;
}
